.root {
  li {
    display: inline-flex;

    a {
      display: inline-block;
      color: #3d3d3d;
      text-align: center;
      line-height: 42px;
      border: 1px solid #252525;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background-color: #4e4e4e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #343434;
        color: #ffffff;
      }
    }
  }
}
