@import "_normalize.scss";

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #1b1b1b;
  color: #fff;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  font-style: normal;
}

.wrapper {
  /* Указываем фоновое изображение */
  // background-image: url("../assets/imgs/bg_img_header.png"); /* Замените на путь к вашему изображению */
  background-image: url("../assets/imgs/mp9.jpg");
  background-position: center; /* Выравнивание по центру */
  background-repeat: no-repeat; /* Изображение не повторяется */
  background-size: cover; /* Масштабируем изображение, чтобы покрыть весь контейнер */
  min-height: 1520px; /* Укажите нужную высоту контейнера */
  position: relative; /* Для позиционирования дочерних элементов */
  display: flex; /* Для центрирования содержимого */
  justify-content: center;
  //   align-items: center;
  //   text-align: center;
  color: white; /* Цвет текста для контраста */
  margin: 0 auto;
}

.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  position: relative; /* Элементы поверх фона */
  // max-width: 1440px;

  z-index: 1; /* Устанавливаем выше фона */
  // width: 100%;

  overflow: overlay;

  .top-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;

    #lang_change {
      display: flex;
      justify-content: right;
      width: 100%;
      position: relative;

      #change_lang_img {
        width: 30px;
        height: 30px;
      }

      .lang_current {
        cursor: pointer;
        margin-right: 45px;
      }

      .site_langs {
        display: flex;
        flex-direction: column;
        background: #101010;
        position: absolute;
        top: 25px;
        right: 36px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px 2px 14px 0px rgb(114 114 114 / 80%);

        .active {
          background: #d7d7d7;
          color: #2f2f2f;
          font-weight: 700;
        }
      }
      .site_langs ul {
        list-style-type: none;
        padding: 0;

        li {
          font-size: 20px;
          background: #222222;
          padding: 10px 10px;
          margin: 5px 20px;
          cursor: pointer;
          border-radius: 2px;

          &:hover {
            background: #141414;
            color: white;
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    align-self: center;
    list-style-type: none;
    margin: 10px 5px;
    padding: 0;
    width: 730px;

    @media (max-width: 1315px) {
      width: 715px;
    }

    @media (max-width: 720px) {
      width: 325px;
    }

    ul {
      // display: flex;
      // list-style-type: none;
      // margin: 10px 5px;
      // padding: 0;

      display: flex;
      list-style-type: none;
      margin: 10px 5px;
      padding: 0;
      flex-direction: row;
      overflow-wrap: normal;
      // width: 450px;
      // overflow: overlay;

      @media (max-width: 720px) {
        display: inline-block;
        width: 450px;
        overflow: overlay;
      }
    }

    li {
      a {
        display: flex;
        margin: 5px 4px;
        // background: #331079;
        // background: #535d0d;
        background: #1b1b1b;
        // background: #e9ac00;
        border-radius: 40px;
        width: 44px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        border: none;
        @include noselect();

        &:hover {
          background: white;
          color: #222;
          font-weight: 500;
        }
      }
    }

    .selected {
      a {
        background: white;
        color: #222222;
        font-weight: 700;
      }
    }
  }
}

.page-header {
  // max-width: 1290px;
}

.header-title {
  margin-left: 45px;
  color: #fff;

  font-size: 33px;
}

hr {
  border: 0.5px solid #363636;
}

.header-txt-1 {
  opacity: 0.8;
  color: #fff;
  // color: #97673c;
  width: 295px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 125px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  background: #000000;
  padding: 15px 20px;
  border-radius: 5px;

  @media (max-width: 1315px) {
    margin-bottom: 10px;
  }

  @media (max-width: 720px) {
    // margin: 75px 47px;
    margin: 75px 10px;
  }

  .changes {
    font-weight: 900;
    // color: #00ffbb;
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  .market {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  .plan-career {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

.header-txt-cont {
  display: flex;
  justify-content: right;
}

.header-txt-2 {
  position: relative;
  width: 578px;
  // display: flex;
  top: -100px;
  margin-right: 70px;
  margin-bottom: 70px;
  background: #000000;
  padding: 15px 20px;
  border-radius: 5px;
  opacity: 0.8;
  font-weight: 700;
  color: #fff;

  @media (max-width: 1315px) {
    top: unset;
    margin-bottom: 68px;
    width: 500px;
    margin-right: 90px;
  }

  @media (max-width: 720px) {
    top: 0;
    width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .just-for-fun {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

.dash {
  opacity: 1;
  margin-top: -51px;
  padding: 15px 70px;
  // margin-top: 22px;
  margin-bottom: 15px;
  max-width: 1567px;
  min-height: 679px;
  background: #d6c09d;
  // background: #e9ac00;
  // background: #ffbc00;
  // background: #282828;
  // background: #050620;
  border-radius: 5px;
  position: relative;
  // left: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1600px) {
    width: 80%;
  }

  @media (max-width: 1315px) {
    margin-top: unset;
  }

  @media (max-width: 720px) {
    // width: 40%;
    // ?
    width: 100%;
    margin-top: 50px;
    padding: 0;
    background: #282828;
    // background: #444444;
    border-radius: 5px;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-header {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
    flex-direction: row;

    @media (max-width: 1315px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 720px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-content {
    color: green;
    position: relative;
    max-width: 1482px;
    margin-bottom: 40px;
    min-height: 502px;
    background: #000;
    // background: #fff7e5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    #dash_colors_bottom {
      width: 100%;
      height: 50px;
      display: flex;
    }

    @media (max-width: 1600px) {
      align-items: center;
      width: 100%;

      // #dash_color_bottom {
      //   width: 100%;
      //   height: 50px;
      //   display: flex;
      // }
    }

    @media (max-width: 720px) {
      width: unset;

      #dash_colors_bottom {
        width: 284px;
        height: 50px;
        display: flex;
        align-self: center;
      }
    }

    .item-percentage {
      color: #00f1ff;
    }

    .payment-amount {
      color: #00ff55;
    }

    .info {
      display: grid;
      width: 1440px;
      height: 295px;
      padding: 50px 0 28px 0;
      grid-template-columns: 1fr 1fr 1fr 1fr 350px;
      overflow: hidden;
      margin-bottom: 70px;

      // display: grid;

      @media (max-width: 1600px) {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(5, 1fr);
        gap: 8px;
        height: 100%;
        width: 80%;
      }

      @media (max-width: 720px) {
        grid-template-columns: 1fr;
        height: 100%;
        width: 284px;
      }

      .column-wrapper {
        display: flex;
      }

      .column {
        display: flex;
        // height: 320px;
        justify-content: center;
        border-right: 2px solid #4b4b4b;
        flex-direction: column;
        align-self: start;

        #main_prog_lang_tooltip {
          position: absolute;
          display: none;
          top: 93px;
          left: 190px;
          width: 200px;
          height: 200px;
          background: #000;
          color: #fff;
          opacity: 0.97;
          font-weight: 500;
          z-index: 10;
          border-radius: 5px;
        }

        .info_icon {
          position: relative;
          width: 18px;
          height: 18px;
          margin-left: 5px;
          top: 3px;
          cursor: pointer;

          &:hover {
            #main_prog_lang_tooltip {
              display: flex;
            }
          }
        }

        @media (max-width: 1600px) {
          border-right: none;
          margin-top: 30px;
        }

        @media (max-width: 720px) {
          border-right: none;
        }

        &-header {
          display: flex;
          align-self: center;
          align-items: center;
          margin-bottom: 35px;

          .title-img {
            width: 15px;
            height: 15px;
            margin-right: 8px;
          }

          .title {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            height: 0;

            display: flex;
            align-self: center;
            align-items: center;
          }
        }

        &-body {
          display: flex;
          justify-content: center;
          min-height: 340px;

          ul {
            // list-style-image: url("../assets/imgs/list-square.png");
            list-style-type: square;
          }

          li {
            font-weight: 500;
            text-transform: uppercase;
            // color: #00c345;
            color: #119911;
            // color: #262626;
            line-height: 23px;
          }

          // ul li {
          //   background-image: url("../assets/imgs/list-square.png");
          //   background-repeat: no-repeat;
          //   line-height: 30px;
          //   padding-left: 30px;
          // }

          .main-lang {
            font-weight: 900;
            font-size: 20px;
          }
        }
      }

      .column:nth-child(4) {
        border-right: none;
      }

      .payment-card {
        height: 325px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #242424;

        @media (max-width: 1600px) {
          grid-column: span 2 / span 2;
        }

        @media (max-width: 720px) {
          grid-column: unset;
        }

        .header {
          position: relative;
          left: 20px;
          display: flex;
          margin-bottom: 40px;
        }

        .intro-text {
          width: 175px;
          color: #00b943;

          .analytics {
            font-weight: 500;
            text-decoration: underline;
            text-decoration-style: wavy;
          }
        }

        .rocket {
          position: relative;
          top: 25px;
          left: -10px;
          width: 86px;
          height: 86px;
        }

        .card {
          position: relative;
          width: 284px;
          height: 180px;
          border-radius: 10px;
          /* border: 4px solid #303030; */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #1b1b1b;
          color: #5c5c5c;

          @media (max-width: 720px) {
            width: 275px;
          }

          .arrow-currency {
            margin-left: 3px;
          }

          .currency-dropdown {
            position: absolute;
            top: 69px;
            left: 245px;
            background-color: #fff7e5;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
            z-index: 10;

            @media (max-width: 720px) {
              left: 205px;
            }
          }
          .currency-dropdown ul {
            list-style: none;
            margin: 0;
            padding: 0;
          }
          .currency-dropdown li {
            padding: 5px 10px;
            cursor: pointer;
          }
          .currency-dropdown li:hover {
            background-color: #d7d0c2;
            border-radius: 5px;
          }
        }

        .title {
          align-self: flex-start;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-weight: 700;
          color: #afafaf;
        }

        .frames {
          flex-direction: row;
          display: flex;

          .left-frame {
            padding: 10px 10px;
            border: 1px solid #a7a7a7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-weight: 700;
            font-size: 20px;
            width: 125px;
            justify-content: center;
            display: flex;
            color: #ffffff;
          }

          .right-frame {
            padding: 10px 20px;
            border: 1px solid #a7a7a7;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 11px;
            font-weight: 800;
            position: relative;
            cursor: pointer;
            color: #a7a7a7;
          }
        }
      }

      .other-skills {
        li {
          color: #1d781d;
        }
      }
    }

    .bottom-img {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-image: url("../assets/imgs/dash-content-bottom-img.png"); /* Замените на путь к вашему изображению */
      background-position: bottom; /* Выравнивание по центру */
      background-repeat: no-repeat; /* Изображение не повторяется */
      height: 38px; /* Укажите нужную высоту контейнера */

      display: flex; /* Для центрирования содержимого */
      align-self: end;
    }
  }

  .tech-stack {
    width: 275px;
    padding: 20px 35px;
    background: #1b1b1b;
    border-radius: 5px;
    text-transform: uppercase;
    color: #8b3082;
    // color: #00fdff;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1315px) {
      margin: 10px 0;
    }

    @media (max-width: 720px) {
      margin-bottom: 20px;
    }
  }

  .sort__label svg {
    margin-right: 8px;
  }

  .filters {
    width: 42.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-left: 100px;
    // margin-bottom: 20px;
    align-self: end;

    @media (max-width: 1315px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
      align-self: unset;
      margin: 20px 0;
    }

    @media (max-width: 720px) {
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
      margin-left: 0;
      /* margin-left: 100px; */
      align-self: center;
      margin-bottom: 20px;
    }
  }

  .skills-profiles {
    // font-size: 19px;
    // font-weight: 400;
    // text-transform: uppercase;
    // color: #878787;
    // align-self: center;
    // margin-left: 70px;

    width: 350px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;

    @media (max-width: 1315px) {
      margin: 3px 0;
    }

    @media (max-width: 720px) {
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
  }

  .sort {
    position: relative;
    color: #a79579;
    // color: #dddddd;

    @media (max-width: 720px) {
      margin: 0 10px;
    }

    .sort-span {
      text-transform: lowercase;
    }
  }

  .sort__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #fff7e5;
    box-shadow: 0px 5px 15px #000000d4;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    z-index: 1;
    // position: absolute;
    // right: 0;
    // margin-top: 15px;
    // background: #ffffff;
    // /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); */
    // border-radius: 10px;
    // overflow: hidden;
    // padding: 10px 0;
    // z-index: 1;
  }

  .sort__popup ul li.active {
    font-weight: bold;
    color: #c3c3c3;
  }

  .sort__popup ul li.active,
  .sort__popup ul li:hover {
    background: #444444;
  }

  .sort__popup ul li {
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #9f9f9f;
  }

  .sort__label b {
    margin-right: 8px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }

  .sort__label {
    display: flex;
    align-items: center;
  }

  .sort__label span {
    color: #fff;
    border-bottom: 2px dotted gray;
    cursor: pointer;
    font-weight: 700;
  }

  .sort__popup ul {
    overflow: hidden;
    list-style-type: none;
    padding: 20px 0;
    min-width: 170px;
  }

  .sort__popup ul li {
    padding: 12px 20px;
    cursor: pointer;
  }
}

.second-wrapper {
  z-index: 3;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background: #000000;

  @media (max-width: 1600px) {
    margin-top: 20px;
  }

  @media (max-width: 720px) {
    margin-top: 20px;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1440px;
    margin-top: 100px;
    margin-bottom: 95px;
    // min-height: 1000px;
    // background: #1b1b1b;
    // background: #080808;
    border-radius: 20px;

    @media (max-width: 1600px) {
      margin: 30px 50px;
    }

    @media (max-width: 720px) {
      margin-top: 0;
      width: 95%;
      margin-bottom: 10px;
    }

    .row-1 {
      display: flex;
      height: 200px;

      .title {
        width: 30%;
        justify-content: center;
        display: flex;
        align-items: center;

        font-weight: 900;
        font-size: 18px;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 575px;
      }
    }

    .row-2 {
      display: flex;

      margin-bottom: 100px;

      // .tech-tag.active-tech {
      //   background-color: #007bff;
      //   color: #fff;
      //   border-radius: 5px;
      // }

      .titles {
        width: 24.5%;
        height: 784px;
      }

      .title-container {
        height: 33.3%;
        // background: #979700;
        /* width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: #cacaca;

        .title-img {
          margin-right: 8px;
        }
      }

      .frame-container {
        width: 75%;

        .frame {
          display: flex;
          width: 961px;
          height: 784px;
          background: #fff6de;
          border-radius: 10px;
        }

        .skills-frame {
          width: 50%;
          height: 100%;
          // background: green;
          display: flex;
          flex-direction: column;

          .skills-container {
            height: 33.3%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            // align-items: center;
            margin-left: 30%;

            .selected {
              background: #0072ff;
              color: white;
              border-radius: 5px;
            }
          }

          span {
            width: 100px;
            display: inline-block;
            padding: 8px 70px 8px 15px;
            margin: 1px 0;
            text-decoration: none;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
          }
        }

        .card-frame {
          position: relative;
          width: 50%;
          height: 100%;
          // background: #0072ff;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;

          .frames-options {
            position: absolute;
            top: 35px;
            left: 93px;
            width: 20px;
            height: 15px;
            cursor: pointer;
          }

          .card {
            position: relative;
            width: 284px;
            height: 180px;
            border-radius: 10px;
            border: 1px solid #fff;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #abd200;

            .currency-dropdown {
              position: absolute;
              top: 62px;
              left: 256px;
              color: #fff7e5;
              background-color: #343434;
              border: 1px solid #ccc;
              border-radius: 4px;
              padding: 5px;
              z-index: 10;
            }
            .currency-dropdown ul {
              list-style: none;
              margin: 0;
              padding: 0;
            }
            .currency-dropdown li {
              padding: 5px 10px;
              cursor: pointer;
            }
            .currency-dropdown li:hover {
              background-color: #2b2b2b;
            }

            .title {
              align-self: flex-start;
              text-transform: uppercase;
              margin-bottom: 20px;
              font-size: 14px;
              font-weight: 900;
            }

            .frames {
              flex-direction: row;
              display: flex;

              .left-frame {
                padding: 10px 10px;
                border: 2px solid #fff;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                font-weight: 700;
                font-size: 20px;
                width: 115px;
                display: flex;
                justify-content: center;
              }

              .right-frame {
                padding: 10px 20px;
                border: 2px solid #fff;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 11px;
                font-weight: 800;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 692px;
        height: 144px;
        background: transparent;

        border-radius: 5px;

        margin-bottom: 130px;
        margin-top: 130px;

        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        font-size: 18px;

        img {
          width: 100%;
          margin-bottom: 100px;
          border-radius: 10px;
        }

        @media (max-width: 1600px) {
          margin: 220px 0 145px;
        }

        @media (max-width: 720px) {
          max-width: 692px;
          width: 75%;
          margin: 180px 0 55px;
        }

        @media (max-width: 450px) {
          margin: 110px 0 0;
        }
      }

      .subscription {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        .be-in-touch {
          margin-bottom: 30px;

          @media (max-width: 720px) {
            width: 85%;
          }
        }

        .input-container {
          position: relative;
          display: flex;
          justify-content: center;

          .back-frame {
            position: relative;
            width: 510px;
            height: 49px;
            display: flex;
            background: #373839;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            @media (max-width: 720px) {
              max-width: 510px;
              width: 50%;
            }
          }

          input {
            width: 495px;
            height: 38px;
            background: linear-gradient(to left, #fadd00, #fab700);
            box-shadow: 0 0 29px 9px #fadd00c7;
            border: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #c79602;
            padding-left: 30px;
            font-size: 18px;
            margin: 7px 5px 7px 9px;
            font-family: "Montserrat", sans-serif;

            @media (max-width: 720px) {
              max-width: 495px;
              width: 100%;
            }

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: #c79602;

              font-family: "Montserrat", sans-serif;
            }
          }

          .subscribe-btn {
            width: 180px;
            height: 49px;
            background: #000;
            border: none;
            box-shadow: 3px 1px 4px 0 #bb00facc;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            font-family: "Montserrat", sans-serif;

            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;

            // background: linear-gradient(to right, #911a80, #d42b45);
            background: linear-gradient(to right, #8f00ff, #560099);
            background-clip: text;
            color: transparent;
            cursor: pointer;

            &:focus {
              box-shadow: 1px 0px 4px 0 #bb00facc;
              transition: box-shadow 0.1s ease-in-out;
            }
          }
        }

        @media (max-width: 450px) {
          .input-container {
            flex-direction: column;
            align-items: center;
          }
        }

        // span {
        //   text-transform: uppercase;
        //   font-size: 30px;
        //   margin-bottom: 20px;
        //   font-weight: 700;
        // }
      }

      .social-nets {
        display: flex;
        margin-bottom: 60px;

        img {
          // width: 44px;
          // height: 44px;
          margin-right: 8px;
          cursor: pointer;
        }
      }

      .bottom-txt {
        margin-bottom: 25px;
        color: #434343;
      }
    }
  }
}

.collapsible {
  transition: height 0.5s ease-out, opacity 0.3s ease-out;
}

.open-more {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 50px;
  text-transform: lowercase;
  color: #707070;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  span {
    border-bottom: 3px dotted #777777;
  }
}

.arrow {
  margin-top: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  align-self: center;
}

.jobseek-main {
  position: relative;
}

.jobseek-background {
  background-image: url("../assets/imgs/mp9_vert.png");
  // background-position: center; /* Выравнивание по центру */
  background-repeat: no-repeat; /* Изображение не повторяется */
  background-size: cover; /* Масштабируем изображение, чтобы покрыть весь контейнер */
  width: 100%;
  min-height: 2145px; /* Укажите нужную высоту контейнера */
  position: absolute; /* Для позиционирования дочерних элементов */
  display: flex; /* Для центрирования содержимого */
  // justify-content: center;
  align-items: center;
  //   text-align: center;
  color: white; /* Цвет текста для контраста */
  margin: 0 auto;
  flex-direction: column;
}

.vac-res-payment-container {
  display: flex;
  max-width: 1000px;
  width: 90%;
  align-self: center;
  min-height: 250px;
  background: #e9be79;
  margin: 30px 0 140px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

  .pc-first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
  }

  .pc-second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
  }

  .payment-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff3e0;
    width: 170px;

    display: flex;
    justify-content: center;
    margin: 0 20px;
  }

  .title-from-to {
    color: #c29857;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .title-to {
    margin-left: 10px;
  }

  .input-from-to {
    padding: 0 15px;
    height: 37px;
    width: 80px;
    font-size: 18px;
    border-radius: 10px;
    background: #fff;
    border: none;
    color: #8b8b8b;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .payment-type-arrow {
    margin: 0 10px;
    cursor: pointer;
  }

  .first-ps {
    margin-left: 10px;
  }

  .payment-selection {
    position: relative;
    height: 37px;
    width: 127px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    cursor: pointer;
  }

  .payment-selection-arrow {
    display: flex;
    margin-left: 7px;
  }
}

.pc-second-block {
  margin: 0;
}

@media (max-width: 1315px) {
  .vac-res-payment-container {
    flex-direction: column;
    justify-content: center;

    .pc-second-block {
      width: 70%;
    }
  }

  .pc-first-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 1015px) {
  .vac-res-payment-container {
    flex-direction: column;
    justify-content: center;
  }

  .pc-first-block {
    display: flex;
    align-items: center;
    width: 47%;
    justify-content: center;
    margin: 0 20px;
  }

  .pc-second-block {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 40px 0 0 0;
  }
}

@media (max-width: 870px) {
  .pc-first-block {
    flex-direction: column;
  }

  .pc-second-block {
    flex-direction: column;
    margin: 40px 0;
  }

  .vac-res-payment-container {
    .payment-title {
      margin: 50px 0 30px;
    }

    .title-from-to {
      margin: 10px;
    }
  }

  .payment-selection {
    margin: 10px 0;
  }
}

.payment-submit-container {
  display: flex;
  align-self: center;
  margin: 0 0 140px 0;

  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 60px;
    background: #00ff99;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
  }

  .email {
    width: 500px;
    height: 60px;
    border: none;
    background: #d9ff00;
    color: #adcc01;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    font-size: 20px;

    &:focus {
      outline: none;
      // padding: 0 20px;
    }

    &::placeholder {
      padding-left: 20px;
      color: #adcc01;
      font-size: 19px;
      font-weight: 700;
      text-align: center;
      font-family: "Montserrat", sans-serif;
    }
  }

  @media (max-width: 1315px) {
    .email {
      width: 350px;
    }
  }

  @media (max-width: 1015px) {
    .submit-btn {
      width: 200px;
    }

    .email {
      width: 300px;
    }
  }

  @media (max-width: 720px) {
    .submit-btn {
      width: 310px;
    }

    .email {
      width: 230px;
    }
  }
}

@media (max-width: 720px) {
  .payment-submit-container {
    flex-direction: column;
  }
}

.form-message {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 70px;
  font-size: 18px;

  ul {
    list-style: none;
    padding: 0 10px;
  }

  li {
    margin: 10px 0;
    font-weight: 500;
  }

  .message-icon {
    width: 20px;
  }
}

.subscription-message {
  display: flex;
  width: 100%;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  // margin-bottom: 70px;
  font-size: 18px;

  .message-icon {
    width: 35px;
    margin: 0 20px;
  }
}

.jobseek-wrapper {
  display: flex;
  justify-content: center;
}

.black-break {
  position: relative;
  height: 30px;
  width: 100%;
  background: #000;
}

.dash-frame {
  width: 1565px;
  min-height: 2500px;
  background: #d6c09d;
  border-radius: 20px;
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  &-inner {
    display: flex;
    width: 1250px;
    min-height: 2400px;
    background: #fff7e5;
    border-radius: 20px;
    margin: 70px 0;
    // justify-content: center;
    flex-direction: column;
    padding-top: 85px;

    .checkbox-wrapper {
      display: flex;
      align-items: center;
    }

    .checkbox-item {
      // margin: 0 10px;
      // cursor: pointer;
      // @include noselect;

      // input {
      //   cursor: pointer;
      // }

      // label {
      //   margin-left: 5px;
      //   cursor: pointer;
      // }

      .checkbox-first-letter {
        font-weight: 700;
      }
    }

    /* Customize the label (the container) */
    .container {
      display: flex;
      position: relative;
      padding-left: 35px;
      height: 27px;
      /* margin-bottom: 12px; */
      cursor: pointer;
      font-size: 18px;
      -webkit-user-select: none;
      user-select: none;
      /* vertical-align: middle; */
      flex-direction: row;
      align-self: center;
      align-items: center;
      justify-content: center;

      margin: 0 10px;
    }

    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;
      border: 1px solid #000;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      // background-color: #ccc;
      background: #fff;
      border: 1px solid #000;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196f3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .item-clickable {
      display: flex;
      align-items: center;
    }

    .payment-area-dropdown {
      position: absolute;
      background: #fff;
      flex-direction: column;
      height: 119px;
      width: 127px;
      left: 0;
      z-index: 10;

      li {
        width: 100%;
        list-style: none;
        padding: 10px 0;
        text-align: center;
        border-radius: 10px;

        &:hover {
          background: #e3dccb;
        }
      }
    }

    .dash-field {
      position: relative;
      display: flex;
      flex-direction: row;
      margin: 30px 0;
      height: 30px;
      justify-content: center;
      align-items: center;

      .title-wrapper {
        position: absolute;
        width: 21%;
        left: 0;
        align-items: center;
        display: flex;
      }

      #type_of_employment {
        // width: 30%;
      }

      #selectVacRes {
        position: relative;
        cursor: pointer;
        @include noselect();
      }

      .title {
        position: absolute;
        display: flex;
        font-size: 26px;
        // left: -230px;
        right: 0;
      }

      .grade-title {
        font-size: 24px;
      }

      .field {
        display: flex;
        height: 40px;
        width: 483px;
        border: 1px solid #000;
        background: white;
        border-radius: 10px;

        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
      }

      input.field {
        padding: 0 15px;
        width: 453px;
        color: #1b1b1b;
        font-family: "Montserrat", sans-serif;
      }

      .vacResDropdown {
        position: absolute;
        width: 483px;
        background: #fff;
        list-style-type: none;
        flex-direction: column;
        top: 37px;
        height: 120px;
        z-index: 15;

        li {
          width: 100%;
          cursor: pointer;
          // margin: 5px 0;
          padding: 10px 0;
          text-align: center;
          // border-bottom: 1px solid gray;

          &:hover {
            background: #e3dccb;
          }
        }
      }

      .vac-res-arrow {
        margin-left: 5px;
      }

      .under-label {
        margin: 10px 0 0 30px;
        // position: absolute;
        font-weight: 500;
        font-size: 16px;
      }

      .field-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
      }

      .checkbox {
        margin: 0;
      }

      textarea.field {
        // margin-top: 80px;
        padding: 20px;
        width: 445px;
        height: 110px;
        color: #1b1b1b;
        font-family: "Montserrat", sans-serif;

        resize: none;
      }
    }

    #type-of-employment-field {
      margin-top: 130px;
    }

    #vas-res-description {
      margin-top: 110px;
    }

    #vac-res-skills {
      margin-bottom: 0;
      margin-top: 45px;
    }
    @media (max-width: 1315px) {
      .dash-field {
        flex-direction: column;
        height: auto;
        margin: 0;

        .title-wrapper {
          position: relative;
          justify-content: center;
        }

        .title {
          position: relative;
        }

        .field-wrapper {
          margin: 0;
        }
      }

      #vas-res-description {
        margin-top: 0;
      }

      #vac-res-skills {
        margin-top: 0;
      }
    }

    @media (max-width: 720px) {
      .dash-field .field {
        width: 300px;
      }

      .field-wrapper input.field {
        width: 300px;
        padding: 0;
      }

      .field-wrapper textarea.field {
        width: 300px;
        padding: 0;
      }
    }

    .title {
      margin: 18px 0;
      display: flex;
    }

    .skills-search {
      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      padding-left: 10px;

      &::placeholder {
        text-align: center;
      }
    }

    .skills-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 40px 0 45px;
      max-height: 650px;
      // overflow: auto;

      .skills-line {
        border-bottom: 1px solid black;
        width: 20%;
      }

      // .title {
      //   margin: 18px 0;
      //   display: flex;
      // }

      // .skills-search {
      //   background: transparent;
      //   border: none;
      //   border-bottom: 1px solid black;
      //   outline: none;
      //   padding-left: 10px;

      //   &::placeholder {
      //     text-align: center;
      //   }
      // }

      .skill-checked {
        position: absolute;
        /* left: -2px; */
        /* width: 15px; */
        top: 1px;
        z-index: 10;
      }

      .skill-select {
        position: relative;
        left: 2px;
      }

      .skills-type {
        font-size: 20px;
        font-weight: 700;
        color: #383838;
        margin-right: 20px;
      }

      .search {
        width: 200px;
        display: flex;
        border-bottom: 1px solid #383838;
        justify-content: center;
        color: gray;
      }

      .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(1, 1fr);
        gap: 4px;
        column-gap: 20px;
        overflow: auto;
      }

      @media (max-width: 1315px) {
        .skills-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      // @media (max-width: 1015px) {
      //   .skills-grid {
      //     grid-template-columns: repeat(2, 1fr);
      //   }
      // }

      @media (max-width: 720px) {
        .skills-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .item {
        margin: 16px 0 0 0;
        display: flex;
        flex-direction: row;

        align-items: center;
      }

      @media (max-width: 720px) {
        .item {
          display: flex;
          justify-content: center;
        }
      }

      .checkbox {
        position: relative;
        margin-right: 8px;
        // border: 1px solid #1b1b1b;
        // width: 10px;
        // height: 10px;
        // border-radius: 20px;
        // background: #fff;
      }

      .element {
        max-width: 120px;
        overflow-wrap: break-word;
        border: 1px solid #1b1b1b;
        padding: 10px 25px;
        border-radius: 10px;
        background: #fff;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        cursor: pointer;
        @include noselect();
      }

      .grade {
        border: 1px solid #1b1b1b;
        padding: 10px 10px;
        border-radius: 10px;
        background: #fff;
        margin-left: 5px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1315px) {
    &-inner {
      width: 900px;
      margin: 50px auto;
    }
  }

  @media (max-width: 1015px) {
    &-inner {
      width: 700px;
      // width: 85%;
      margin: 50px auto;
    }
  }

  @media (max-width: 720px) {
    &-inner {
      width: 550px;
    }
  }

  @media (max-width: 720px) {
    &-inner {
      width: 345px;

      .title {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1600px) {
  .dash-frame {
    width: 1315px;
  }
}

@media (max-width: 1315px) {
  .dash-frame {
    width: 1000px;
  }
}

@media (max-width: 1015px) {
  .dash-frame {
    width: 835px;
  }
}

@media (max-width: 870px) {
  .dash-frame {
    width: 715px;
  }
}

@media (max-width: 720px) {
  .dash-frame {
    width: 620px;
  }
}

@media (max-width: 720px) {
  .dash-frame {
    width: 350px;
  }
}

#hs-form-virality-container {
  display: none !important;
}
